
.app-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #111;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 2px rgba(71, 20, 55, 0.40);
  height: 90vh;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  color: #222;
  background-color: #FF5449;
  background: linear-gradient(40deg, #FF7349, #FF5449);
  flex-shrink: 0;
  text-transform: uppercase;
  border-bottom: 1px solid #222;
  border-radius: 4px 4px 0 0;
}

.navbar-container h1 {
  font-size: 1.2rem;
  background-color: #ffcc49;
  padding: 0 2px;
}

.navbar-container button {
  background-color: transparent;
  border: 2px solid #ffcc49;
  border-radius: 4px;
  color: #ffcc49;
  outline: 0;
  transition: all .4s ease;
}

.navbar-container button:hover {
  background-color: #ffcc49;
  color: #222;
}

.navbar-container button:active {
  background-color: #FF7349;
  color: #ffcc49;
}

.navbar-container a {
  text-decoration: none;
  color: #ffcc49;
  font-size: .8rem;
}

.navbar-container a > img {
  width: 22px;
  transition: all .4s ease;
}

.navbar-container a:hover > img {
  filter: invert(100%);
}

.error {
  display: block;
  overflow: auto;
  background-color: #ffdce9;
  color: red;
  font-size: .9rem;
  padding: 10px;
  box-shadow: inset 0px 0px 4px 1px rgba(255, 132, 132, 0.3);
  border-bottom: 1px solid #222;
}

.section-container {
  display: flex;
  border-radius: 0 0 4px 4px;
  flex-grow: 1;
}

pre {
  background-color: #e8e8e8;
  border-radius: 0 0 4px 0;
  flex-grow: 1;
  white-space: pre-wrap;
  overflow-y: scroll;
}

pre, textarea {
  width: 50%;
  font-family: monospace;
  font-size: .9rem;
  margin: 0;
  padding: 10px;
  color: #222222;
}

textarea {
  color: white;
  background-color: #2f2f2f;
  border-radius: 0 0 0 4px;
  border: 0;
  resize: none;
  flex-grow: 1;
}

textarea:focus {
  outline: 0;
}

@keyframes blink {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
